doctype html
html
  head
    include ./includes/head
  body
    header.header
      nav
        ul.navlist
          li.navlist-item.active 
            a(class='navlist-item-link', href='#teaser') Teaser
          li.navlist-item
            a(class='navlist-item-link', href='#concept') Concept
          li.navlist-item
            a(class='navlist-item-link', href='#team') Team

    section.container#teaser
      include ./includes/teaser

    include ./includes/concept
      

    section.container#team  
      include ./includes/team 

    section.container.container--greyBackground  
      include ./includes/thanks    
      

  script(src="/js/vendors/greensock/TweenMax.js")
  script(src="/js/main.js")
