doctype html
html
  head
    include ./includes/head
  body
    header.header
      nav
        ul.navlist
          li.navlist-item.active 
            a(class='navlist-item-link link-teaser', href='#teaser') Teaser
          li.navlist-item
            a(class='navlist-item-link', href='#concept') Concept
          li.navlist-item
            a(class='navlist-item-link', href='#team') Team

    section.container#teaser
      include ./includes/teaser

    include ./includes/concept
      

    section.container.container--mediumHeight.container--mobileHeight#team  
      include ./includes/team 

    section.container.container--greyBackground  
      include ./includes/thanks    
      

  script(src="/js/vendors/greensock/TweenMax.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.2/ScrollMagic.min.js")
  script(src="/js/vendors/greensock/plugins/animation.gsap.js")
  script(src="/js/main.js")
