section.container#concept
  div.container-blurfilter.container-blurfilter--createBackground
  div.container-overlay

  div.container-bloc.container-bloc--right.container-bloc--tablePos
    div#canvas.canvas
    div.selector
      ul
        li.colorSelector.yellow( data-color='yellow' )
        li.colorSelector.red( data-color='red' )
        li.colorSelector.cyan( data-color='cyan' )
        li.colorSelector.orange( data-color='orange' )
        li.colorSelector.purple( data-color='purple' )
  div.container-bloc.container-bloc--left.container-bloc--tablePos
    div.container-bloc-wrapper.container-bloc-wrapper--center
      h1.container-h1.container-h1--smallWidthTxt.h1-anim 
        span.container-h1-span--uppercase.container-h1-span--greyTint Create your
        span.container-h1-span--pinkTint.container-h1-span--marginLeft  own Mint!

section.container
  div.container-blurfilter.container-blurfilter--friendsBackground
  div.container-overlay
    
  div.container-bloc.container-bloc--tablePos
    div.container-bloc-wrapper.container-bloc-wrapper--textalign
      h1.container-h1.container-h1--purpleTint.h1-anim 
        span.container-h1-span.container-h1-span--uppercase Let your friends
        span.container-h1-span.container-h1-span--marginLeftBig  find the surprise you hide...
      p.container-text.container-text--center Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

section.container
  div.container-blurfilter.container-blurfilter--aroundBackground
  div.container-overlay

  div.container-bloc.container-bloc--left.container-bloc--tablePos
    div.container-bloc-wrapper
      div.container-bloc-wrapper-content.container-bloc-wrapper-content--sizeBackground.container-bloc-wrapper-content--around.backgroundImg-anim
  div.container-bloc.container-bloc--right.container-bloc--tablePos
    div.container-bloc-wrapper
      h1.container-h1.container-h1--aroundCustom.h1-anim All around them
      p.container-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

section.container
  div.container-blurfilter.container-blurfilter--reactionBackground
  div.container-overlay
    
  div.container-bloc.container-bloc--left.container-bloc--tablePos
    div.container-bloc-wrapper
      div.container-bloc-wrapper-content.container-bloc-wrapper-content--sizeBackground.container-bloc-wrapper-content--reaction.backgroundImg-anim
  div.container-bloc.container-bloc--right.container-bloc--tablePos
    div.container-bloc-wrapper
      h1.container-h1.h1-anim 
        span.container-h1-span.container-h1-span--pinkTint.container-h1-span--uppercase Find out how 
        span.container-h1-span.container-h1-span--pinkTint.container-h1-span--marginLeft they reacted
      p.container-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.