div.container-bloc.container-bloc--tablePos.container-bloc--textalign
  div.container-bloc-wrapper.container-bloc-wrapper--textalign
    h1.container-h1 
      span.container-h1-span The team 
      span.container-h1-span.container-h1-span--marginLeft  Mint
    ul.container-listMembers
      li.container-listMembers-item.container-listMembers-item--member1
        p.container-listMembers-item-p
          span.container-listMembers-item-p-span.container-listMembers-item-p-span--bigtext Marianne 
          span.container-listMembers-item-p-span.container-listMembers-item-p-span--uppercase.container-listMembers-item-p-span--blueTint Vary
      li.container-listMembers-item.container-listMembers-item--member2
        p
          span.container-listMembers-item-p-span.container-listMembers-item-p-span--bigtext Célia 
          span.container-listMembers-item-p-span.container-listMembers-item-p-span--uppercase.container-listMembers-item-p-span--pinkTint Noël
      li.container-listMembers-item.container-listMembers-item--member3
        p
          span.container-listMembers-item-p-span.container-listMembers-item-p-span--bigtext Nathalie 
          span.container-listMembers-item-p-span.container-listMembers-item-p-span--uppercase.container-listMembers-item-p-span--yellowTint Marchal
      li.container-listMembers-item.container-listMembers-item--member4
        p
          span.container-listMembers-item-p-span.container-listMembers-item-p-span--bigtext Soufiane 
          span.container-listMembers-item-p-span.container-listMembers-item-p-span--uppercase.container-listMembers-item-p-span--purpleTint Lasri