video(width="100%", height="100%", autoplay, muted, loop, class="container-videobackground")
  source(src="videos/sample-video.mp4", type="video/mp4")
  |Your browser does not support the video tag.
div.container-bloc.container-bloc--tablePos
  div.container-bloc-wrapper.container-bloc-wrapper--textalign
    h1.container-h1.container-h1--whiteTint.h1-anim 
      span.container-h1-span.container-h1-span--uppercase.container-h1-span--normalWeight They say
      span.container-h1-span  the smallest gestures
      span.container-h1-span.container-h1-span--uppercase.container-h1-span--normalWeight  are the ones
      span.container-h1-span  that count