video(width="100%", height="100%", autoplay, muted, loop, class="container-videobackground")
  source(src="videos/videoBackground.mp4", type="video/mp4")
  |Your browser does not support the video tag.
div.container-bloc.container-bloc--tablePos
  div.logo
  div.container-bloc-wrapper.container-bloc-wrapper--textalign
    h1.container-h1.container-h1--whiteTint.h1-anim.container-h1--teaserParticles
      span.container-h1-span.container-h1-span--uppercase.container-h1-span--lightCapit They say
      span.container-h1-span.container-h1-span--cheddarJack the smallest gestures
      span.container-h1-span.container-h1-span--uppercase.container-h1-span--lightCapit are the ones
      span.container-h1-span.container-h1-span--cheddarJack that count
      
  div.controls
    a( href='#' )
      div.play
      p Watch the trailer !
