div.container-bloc.container-bloc--tablePos
  div.container-bloc-wrapper.container-bloc-wrapper--textalign
    h1.container-h1.container-h1--whiteTint.h1-anim 
      span.container-h1-span.container-h1-span--uppercase Gobelins
      span.container-h1-span.container-h1-span--uppercase.container-h1-span--normalWeight  L'école de l'Image