div.container-bloc.container-bloc--tablePos
  div.container-bloc-wrapper.container-bloc-wrapper--textalign
    img(src='images/gobelins-logo.png')
    h1.container-h1.container-h1--whiteTint.h1-anim 
      span.container-h1-span.container-h1-span--uppercase.container-h1-span--letterspace Gobelins
      span.container-h1-span.container-h1-span--uppercase.container-h1-span--normalWeight.container-h1-span--smallTxt  L'école de l'Image
    div.container-thanksbloc
      h2.container-thanksbloc-h2 Un grand merci à
      p.container-thanksbloc-text Véronique Ficara, Thierry Audoux, Maud Levavasseur, Bertil Gauthier, Zoé Leloutre, Diana Marchal, Whylem Genevieve, Timothé Chesnin, Léo Brossault, Alice Ung, Benoît .... 