@import url('https://fonts.googleapis.com/css?family=Poppins')

body
  overflow-x: hidden
  padding: 0
  margin: 0
  color #333
  background white
  font-family: 'Poppins', sans-serif

  .header
    position: fixed
    top: 15px
    right: 0
    width: 50%
    max-width: 400px
    z-index: 10
    
    &--whiteTint
      color: white
    &--yellowTint
      color: yellow
    &--purpleTint
      color: purple
    &--turquoiseTint
      color: turquoise


    .navlist
      padding: 0
      margin: 0
      list-style: none
      text-transform: uppercase
      font-size: 1,5em
      &-item
        width: 30%
        max-width: 120px
        float: left
        margin-left: 5px
        &-link
          padding: 12px
          text-decoration: none
          color: white

  .container
    width: 100vw
    height: 100vh
    position: relative

    &-thanksbloc
      &-h2 
        text-transform: uppercase

      &-text
        width: 80%
        max-width: 500px
        margin: 0 auto
        color: white

        &--marginTop
          margin-top: -22px
        &--normalWeight
          font-weight: normal



    &--greyBackground
      background-color: #4F4F4F

    &-listMembers
      list-style: none
      padding: 0
      margin: 0
      text-align: center

      &-item
        text-align: center
        height: 110px
        padding-top: 217px

        &-p
          text-align: center

          &-span
            display: block

            &--bigtext
              font-size: 2.0em
            &--uppercase
              text-transform: uppercase
            &--blueTint
              color: #BEE2E0
            &--pinkTint
              color: #F15757
            &--yellowTint
              color: #FEEA99
            &--purpleTint
              color: #A162B1


      &-item--member1
        background: url(../images/member-marianne.png) no-repeat top center
      &-item--member2
        background: url(../images/member-celia.png) no-repeat top center
      &-item--member3
        background: url(../images/member-nathalie.png) no-repeat top center
      &-item--member4
        background: url(../images/member-soufiane.png) no-repeat top center

    &-blurfilter
      width: 100%
      height: 100%
      position: absolute
      z-index: 5

    &-blurfilter--aroundBackground
      background: url(../images/background-leo.jpg) no-repeat center center
      background-size: cover
      
    &-blurfilter--reactionBackground
      background: url(../images/background-zoe.jpg) no-repeat center center
      background-size: cover

    &-blurfilter--createBackground
      background: url(../images/background-bertil.jpg) no-repeat center center
      background-size: cover

    &-blurfilter--friendsBackground
      background: url(../images/background-alice.jpg) no-repeat center center
      background-size: cover

    &-overlay
      width: 100%
      height: 100%
      position: absolute
      z-index: 6
      background-color: rgba(255, 255, 255, 0.8)


    &-bloc
      position: relative
      z-index: 7

      
      &-wrapper
        display: table-cell
        vertical-align: middle

        &--textalign
          text-align: center

        &--center
          text-align: center

        &-content

          &--sizeBackground
            height: 400px
            width: 201px
            margin: 0 auto
            position: relative


          &--reaction
            background: url(../images/phone-reaction.png) no-repeat top center

          &--around
            background: url(../images/phone-map.png) no-repeat top center




    

    &-bloc--textalign
      text-align: center


    &-h1
      font-size: 2.0em
      &--aroundCustom
        color: #5CD6BF
        text-transform: uppercase
        font-weight: normal

      &--smallWidthTxt
        width: 212px
        margin: 0 auto
      &--purpleTint
        color: #9145DB
      &--whiteTint
        color: white

      &-span
        display: block
  

        &--uppercase
          text-transform: uppercase
        &--normalWeight
          font-weight: normal
        &--pinkTint
          color: #FF0B45
        &--greyTint
          color: #4F4F4F
        &--pinkTint
          color: #FF0B45
        &--marginLeft
          margin-left: 40px
        &--marginLeftBig
          margin-left: 20%
        &--letterspace
          letter-spacing: 0.2em
        &--smallTxt
          font-size: 0.7em
        &--marginTop
          margin-top: -16px


    &-text
      padding: 10px
      width: 84%
      max-width: 400px
      text-align: justify


      &--center
        margin: 0 auto


    &-videobackground
      position: absolute
      right: 0
      bottom: 0
      top: 0
      right: 0
      width: 100%
      height: 100%
      z-index: 6
      background-size: 100% 100%
      background-color: black
      background-position: center center
      object-fit: cover

@media screen and (min-width: 1030px)
  .container
    &-bloc--left
      float: left
      width: 50% !important

    &-bloc--tablePos
      height: 100%
      width: 100%
      display: table

    &-bloc--right
      float: right
      width: 50% !important

    &-listMembers
      &-item
        display: inline-block
        width: 20%


@media screen and (min-width: 500px) and (max-width: 1029px) 
  .container
    &-bloc--left
      float: left
      width: 50% !important

    &-bloc--tablePos
      height: 100%
      width: 100%
      display: table

    &-bloc--right
      float: right
      width: 50% !important
    &--mediumHeight
      height: 850px !important
    &-listMembers
      &-item
        display: inline-block
        width: 40%

@media screen and (max-width: 499px)
  .container
    &-bloc--tablePos
      width: 100%
      display: table
      text-align: center
    &-bloc--left
      padding-top: 15px
    &--mobileConceptHeight
      height: 800px !important
    &--mobileHeight
      height: 1500px !important
    &-text
      margin: 0 auto
    &-listMembers
      &-item
        display: block

@import '_sections/*'
