#teaser
  .logo
    width 130px
    height 80px
    background url( '../images/logo-mint-white.png' ) no-repeat center center
    background-size contain
    position absolute
    top 0px
    left 50px

  h1
    font-size 60px
    margin 0 auto !important

    &.container-h1--teaserParticles
      height 365px
      width 1024px
      background url("../images/confettis-texte-teaser.png") no-repeat 36% 34%
      background-size 86%
      padding-top 110px

    span
      &.container-h1-span--lightCapit
        font-family 'Poppins-Bold', sans-serif

  .controls
    position absolute
    bottom 0
    left 50%
    transform translateX( -50% )
    text-align center

    div.play
      width 50px
      height 50px
      background url( '../images/play.png' ) no-repeat center center
      background-size cover
      margin 0 auto

    p
      font-family 'Poppins', sans-serif
      color white
      border-bottom solid 1px white
